.calendar-main {
 display: flex;
}

.calendar-main-1{
display: grid;
width: 576px;
height: 576px;
grid-gap: 50px;
margin-left: 157px;
margin-top: 60px;
grid-template-rows: 159px 159px 159px;
}

.calendar-main-2{
    margin-left: 53px;
    margin-top: 60px;
    width: 576px;
    height: 576px;
    background-color: #FFFFFF;
    border-radius: 25px 25px 25px 25px;

    
    }
.scss_block {
    background-color: #FFFFFF;
    border-radius: 25px 25px 25px 25px;
}

.react_block{
    background-color: #FFFFFF;
    border-radius: 25px 25px 25px 25px;
}

.php_block {
     background-color: #FFFFFF;
    border-radius: 25px 25px 25px 25px;   
}

.titles-of-blocks {
    font-size: 26px;
    font-weight: 700;
    margin-left: 42px;
    margin-top: 26px;
}

.text-in-block{
    font-size: 20px;
    font-weight: 500;
    color: #C4C4C4;
    margin-left: 46px;
    margin-top: 8px;
}

.SCSS_red_row{
    width: 188px;
    height: 20px;
    background-color: #FC0000;
    border-radius: 25px 25px 25px 25px; 
    margin-top: 18px;
    margin-left: 42px;
}

.react_yellow_row {
    width: 188px;
    height: 20px;
    background-color: #FCE300;
    border-radius: 25px 25px 25px 25px; 
    margin-top: 18px;
    margin-left: 42px;
}

.php_green_row {
    width: 188px;
    height: 20px;
    background-color:#51FC00;
    margin-top: 18px;
    margin-left: 42px;
}

/* Second block */

.text-january {
    font-size: 24px;
    font-weight: 700;
    margin-left: 237px;
    margin-top: 38px;
}

.w-days {
    display: grid;
    width: 380px;
    grid-template-columns: repeat(7,1fr);
    column-gap: 5px;
    row-gap: 25px;
    margin: auto;
    font-size: 28px;
    font-weight: 500;
    color: #C4C4C4;
    text-align: center;
    word-spacing: 15px;
    margin-top: 50px;
}

.hr2 {
    margin-top: 28px;
    height: 1px;
    width: 470px;
    background-color: #C4C4C4;
}

.all-month-days {
    display: grid;
    width: 380px;
    height: 300px;
    column-gap: 5px;
    row-gap: 25px;
    margin: auto;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(7,1fr);
}

.d-grey-clr {
    font-size: 24px;
    font-weight: 700;
    margin:auto;
    color:#C4C4C4;
}
.present-m-days {
    font-size: 24px;
    font-weight: 700;
    margin:auto;
    color:#000000
}

.present-m-days.active {
    background-color: #02577A;
    color: white;
    margin:auto;
    border-radius: 50%;
    padding: 5px 10px;
    
}

/* Plus button */
.plus_block{
    background-color: #EBEEF5;
    width: 70px;
    height: 70px;
    margin-left: 168px;
    margin-top: 49px;
    border: 3px solid #02577A;
    border-radius: 50%;
}

.plus_text {
    color:#02577A;
    font-size: 48px;
    text-align: center;
    padding: 5px;

}
.plus_block:hover{
    background-color: #02577A;
    border: 3px solid rgb(84, 181, 230);
}

.plus_block:hover .plus_text {
    color:white;
    text-decoration-line: underline;
    text-decoration-color: rgb(84, 181, 230);
}

@media screen and (max-width: 576px) {
    body {
        width: 576px;
    }

