nav {
    position: fixed;
    top: 0px;
    width: 100px;
    height: 100%;
    background: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

.img-logo {
    margin: 52px 0 24px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

hr {
    width: 62px;
    height: 2px;
    background-color: #c4c4c4;
    margin: auto;
    margin-bottom: 32px;
}

.nav_elements {
    display: flex;
    border-radius: 25px 0 0 25px;
    padding: 0;
    align-items: center;
    margin-left: 11px;
    margin: 34px 0 34px 11px;
}

.img {
    position: relative;
    margin-left: 37px;
}

.nav_elements a {
    display: none;
    position: relative;
    font-size: 16px;
    margin-left: 40px;
    color: #c4c4c4;
}

.nav_elements.active a {
    margin-left: 38px;
    color: #02577A;
}

.nav_elements.active {
    padding: 16px;
    background-color: white;
}

.nav_elements.active .img {
    margin-left: 25px;
}

.nav_elements:last-child .img {
    left: -7.5px;
}

.nav_elements:last-child a {
    margin-left: 20px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #02577A;
    font-size: 16px;
    height: 30px;
    padding-left: 100px;
}

.footer_line {
    width: 346px;
    margin: 0.5rem auto;
    border-bottom: 1px solid #02577a;
}

nav:hover {
    width: 206px;
    transition: 0.1s;
}

nav:hover hr {
    width: 128px;
    transition: 0.1s;
}

nav:hover .nav_elements a {
    display: inline;
}

.nav_elements a:hover {
    text-decoration: underline;
    color: #02577A;
}

.home-text {
    display: inline-block;
    position: relative;
    font-size: 56px;
    width: 341px;
    height: 80px;
    top: 89px;
    left: 206px;
    line-height: 44px;
}
.home-date {
    position: relative;
    float: right;
    width: 516px;
    height: 147px;
    right: 67px;
    margin: 56px 0px;
    background-color: #FFFFFF;
    border-radius: 25px 25px 25px 25px;
}
.home-date-in-block {
    padding: 22px 96px;
    width: 324px;
    height: 103px;
  }
.home-hours {
    color: #02577A;
    font-size: 28px;
    line-height: 44px
}
.home-day {
    color: #0c0c0c;
    font-size: 24px;
    line-height: 44px
}

.home-bg-img {
    width: 100%;
    height: auto;
    object-fit: fill;
    margin: 20px 0 20px 0;
    padding-left: 100px;
}

.home-quote {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 0 0 20px 100px;
}

.quote {
    width: 750px;
    height: 121px;
    border: 2px solid #02577A;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 50px 0;
    font-size: 16px;
}

/* .home-bg-img:hover {
    border: 2px solid blue;
    opacity: 0.8;
} */

@media screen and (max-width: 576px) {
    body {
        width: 576px;
        height: 817px;
    }

    .home-date {
        display: block;
        position: absolute;
        top: 44px;
        left: 125px;
        width: 419px;
        height: 147px;
    }

    .home-text {
        display: block;
        position: absolute;
        width: 285px;
        height: 80px;
        left: 141px;
        top: 224px;
    }

    .home-bg-img:hover {
        border: 2px solid blue;
         }

    .home-quote {
        width: 433px;
        padding: 60px 10px;
        transform: translateX(-35%);
    }

    /* footer {
        transform: translateX(-140%);
    } */

}